<div class="jumbotron">
<h4>Every 8,333 mails our users received, one tree was cut down as shown below</h4>
  <% tree_url = "http://icons.iconarchive.com/icons/icojam/new-year/256/christmas-tree-2-icon.png" %>
  <% trees_cut.times do %>
    <%= image_tag(tree_url, :alt => "poor tree", width: "20") %>
  <% end %>

</div>
