<div class="container">
<h1>About</h1>

<p>Are you tired of getting junk mail every time you check
  your mail box? Wondering why you even get those flyers
  for the Happy Smiles Dentist office, if you didn’t sign up for one?</p>

<p>Well now you can say good-bye to all those envelope, flyer
  and newspaper ads that come to your mail box. We are proud to
   introduce Rubbish. The new app that you can use to get rid of
   all of your junk mail, once and for all.</p>
<p>With Rubbish you can select the size of the add you are receiving
   and the company you are receiving it from and no longer receive
  those adds again.</p>

<p>Have you ever thought about how much paper is being used to
   send all those adds on a daily basis. How much the companies
   are spending on adds and materials. We have the stats on this.</p>


<p>Lets do our part in saving the environment and actually
saving those trees that are delivered. Use Rubbish and stop
Junk mail once and for all!</p>

<p>If you want to know more about Carbon Footprint Stats, Stopping Usolicited Mail, and How
   Much Junk Mail is Equivalent To
   visit;
   <ul>
     <li><a href="https://matadornetwork.com/change/carbon-footprint-of-us-junk-mail-equivalent-to-480000-cars/">Junk Mail</a>
     <br>
     <a href="http://www.dataservicesinc.com/newsletter/carbon-footprint-stats-direct-mail-vs-email/">Stats</a>
     <br>
     <a href="https://www.consumer.ftc.gov/articles/0262-stopping-unsolicited-mail-phone-calls-and-email">Unsolicited</a>

   </ul>

</div>
