<h1>Our team</h1>


<div class="jumbotron">

<table>
   <tr>
      <td>
        <img src="https://pbs.twimg.com/profile_images/489396361981227008/oXxl7l8A_400x400.jpeg">Gustavo Mantovan</>

      </td>
      <td>
        <img src="https://pbs.twimg.com/profile_images/584400168017141762/6vYYn5ah_400x400.jpg">Jose Guerra</>
      </td>
      <td>
        <img src="https://pbs.twimg.com/profile_images/811574522243522560/GspxAziH_400x400.jpg">Johana Vasquez</>

      </td>
   </tr>
</table>

</div>


<i class="fa fa-twitter" aria-hidden="true"></i><a href="https://twitter.com/intent/tweet?text=Hello%20world">
Twitter</a>

<br>
<i class="fa fa-instagram" aria-hidden="true">Instagram</i>
<br>
<i class="fa fa-facebook-official" aria-hidden="true">Facebook</i>
